<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>Alan &amp; Hillary | Wedding</title>
		<link href='http://fonts.googleapis.com/css?family=Cantarell:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/main.css"/>
	</head>
	<body>
		<div id="content">
			<header class="gold-bg">
				<h1>Alan &amp; Hillary</h1>
				<h4>July 4th, 2015</h4>
				<h4>Snohomish, WA</h4>
			</header>
			<nav class="gold-bg">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/venue">Venue</a></li>
					<li><a href="/events">Events</a></li>
					<li><a href="/registry">Registry</a></li>
					<li><a href="/engagement">Engagement</a></li>
				</ul>
			</nav>
			<section class="gold-bg">
				{{{body}}}
			</section>
		</div>
	</body>
</html>