<h2>Accommodations</h2>
<p>
	We have reserved a block of rooms at the Holiday Inn Downtown-Everett:
</p>

<a href="https://goo.gl/maps/Ioh4m" target="_blank">
	3105 Pine St, Everett, WA 98201
</a>

<p>
	You can book your room by calling <a href="tel:1-425-339-2000">1-425-339-2000 ext. 0</a> and requesting rate code KCH
	or book a room through the <a href="http://www.ihg.com/holidayinn/hotels/us/en/everett/paewa/hoteldetail?qAdlt=1&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn&qChld=0&qFRA=1&qGRM=0&qGrpCd=KCH&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=12&qSHp=1&qSmP=3&qSrt=sBR&qWch=0&srb_u=1&icdv=99801505&icdv=99801505" target="_blank">Holiday Inn</a> website. <strong>Please mention you are with the Kapustka-Chandler wedding party at the time of booking to obtain a discount.</strong>
</p>

<p>
	The hotel is about 11 miles from the reception. There will be a shuttle available to transport guests throughout the evening of the wedding. Book your rooms as soon as possible. The "Big Day" falls on a holiday weekend.
</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2670.9733878910547!2d-122.191877!3d47.975573!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549aaa8e1302cfa7%3A0xf9e4aa4f815fbdb4!2s3105+Pine+St%2C+Everett%2C+WA+98201!5e0!3m2!1sen!2sus!4v1431482666402" width="600" height="450" frameborder="0" style="border:0"></iframe>
