<h2>Events</h2>

<div class="event event--greenbg">
	<h4 class="event__title">Bridal Shower</h4>
	<span class="event__date">Saturday May 30<sup>th</sup>, 2015</span>
</div>

<div class="event event--greenbg">
	<h4 class="event__title">Rehearsal Dinner</h4>
	<span class="event__date">Friday July 3<sup>rd</sup>, 2015</span>
</div>

<div class="event event--greenbg">
	<h4 class="event__title">Rehearsal</h4>
	<span class="event__date">Thursday July 2<sup>nd</sup>, 2015</span>
</div>