<div id="content">
	<header class="gold-bg">
		<h1>Alan &amp; Hillary</h1>
		<h4>July 4th, 2015</h4>
		<h4>Snohomish, WA</h4>
	</header>
	<nav class="gold-bg">
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
		</ul>
	</nav>
</div>
<footer></footer>