<h2>Welcome</h2>
<p class="alert">
	--PLEASE NOTE--<br>
	We had a little mix up with the hotel. The correct information
	is located on the <a href="/accommodations">accommodations</a> page.
</p>
<p>
	Hello everyone, thanks for visiting our website :). If you are
	here it is because you have received an invite! 
</p>
<p>
	We are so excited to see everyone on our big day! This website will
	be the place to check for information and updates to events leading up
	to the wedding.
</p>
