<h2>Welcome</h2>
<p>
	Hello friends and family! Hillary and I will be updating this site with information on our wedding. Invitations will be rolling out shortly, but this will be the best place to look for info!
</p>
