<h2>Registries</h2>

<ul class="registry-list">
	<li>
		<a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542002296&pwsurl=" target="_blank">
			<img src="/images/bbb.png" alt="Bed Bath &amp; Beyond">
		</a>
	</li>
	<li>
		<a href="http://www1.macys.com/registry/wedding/guest/?registryId=2239944" target="_blank">
			<img src="/images/macys.png" alt="Macy's">
		</a>
	</li>
	<li>
		<a href="https://www-secure.target.com/gift-registry/giftgiver?registryId=s6KB1PtEGHKP0Ii02CiWvQ&registryType=WEDDING" target="_blank">
			<img src="/images/target.png" alt="Target">
		</a>
	</li>
	<li>
		<a href="http://www.honeyfund.com/wedding/alanandhillary" target="_blank">
			<img src="/images/engagement.jpg" alt="Engagement" style="width:208px;">
		</a>
	</li>
</ul>