<h2>Registered at the following</h2>

<ul>
	<li>
		<h4><a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=542002296&pwsurl=" target="_blank">Bed Bath &amp; Beyond</a></h4>
	</li>
	<li>
		<h4><a href="http://www1.macys.com/registry/wedding/guest/?registryId=2239944" target="_blank">Macy's</a></h4>
	</li>
	<li><h4>Target</h4></li>
</ul>