* {
	box-sizing: border-box;
}

*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
	font-size: 10px;

}

body {
	margin: 0px;
	padding: 0px;
	border: 0px;
	position: relative;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: rgba(150, 199, 110, 1);
	background-image: url('../images/bg_green.jpg');
}

#content {
	margin: 0px auto;
	height: 100vh;
	width: 100%;
	background-image: url('../images/indoor.jpg');
	background-repeat: no-repeat;
	background-size: 812px 488px;
  	background-position: center top;
}

header h1 {
	font-family: arial-bold;
	font-size: 36px;
	margin: 0px;
}

header h4 {
	margin: 2px 0px;
	font-family: arial;
	font-size: 18px;
}

.gold-bg {
	height: auto;
	padding: 20px;
	background-color: rgba(227, 207, 120, 0.9);
	border-radius: 5px;
	color: rgba(245, 255, 250, 0.8);
}

section.gold-bg {
	margin-top: 20px;
}

section.gold-bg iframe {
	margin: 0px auto;
  	display: block;
}

nav.gold-bg {
	margin-top: 20px;
}

nav.gold-bg ul {
	margin: 0px;
	padding: 0px;
}

nav.gold-bg ul li {
	display: block;
}

nav.gold-bg ul li a {
	text-decoration: none;
	font-size: 18px;
	color: rgba(245, 255, 250, 0.8);
}

nav.gold-bg ul li a:hover {
	text-decoration: underline;
}

@media(min-width: 768px) {
	#content {
		display: inline-block;
		background-image: url('../images/outdoor.png');
		background-size: cover;
		background-position: center -10px;
	}

	.gold-bg {
		width: 355px;
		margin: 10px 0px 0px 15%;
	}

	section.gold-bg {
		margin: 0px;
		position: absolute;
		top: 10px;
		left: 590px;
		width: auto;
		min-width: 540px;
		max-width: 710px;
	}

	section h2 {
		font-size: 44px;
		font-family: arial-bold;
		margin: 0px;
	}

	section p {
		font-size: 18px;
	}

	section iframe.mobile {
		display: none;
	}
}

@media(min-width: 992px) {
	header h1 {
		font-size: 48px;
	}

	header h4 {
		font-size: 24px;
	}
}